  .tcolor{color: rgb(255, 128, 89) !important;}
  .nav-body{width: 100%; height: 200px;}
  .nav-item{background-color: rgb(255, 128, 89); color: white;}
  .logo{ font-size: 25pt; font-weight: bold; margin-top: 20px;}
  .nav-item-1{margin-left: 820px;}
  .nav-item-size{font-size: 30pt;}
  .main-body{position: absolute; top: 240px;}
  .mxw{white: 750px;}
  .por{position: relative;}
  .h90{height:150px;}
  .bor-bottom{border-bottom :1px solid grey;}
  .bor-right{border-right : 2px solid rgb(255, 128, 89);}
  .bor-bottom-or{border-bottom :2px solid rgb(255, 128, 89);}
  .bor-bottom-top{border-top :2px solid rgb(255, 128, 89);}
  .mar-top{margin-top: 350px;}
  .padd-right{padding-right: 0px;}
  .padd-text{padding-right: 15px;}
  .por-button{position: relative; left: 145px; top: 50px;}