.bar{
	border-bottom: 3px solid rgb(255, 165, 69);
}

.bar-ri{
	border-right: 3px solid rgb(255, 165, 69);
}

.bar-lf{
	border-left: 3px solid rgb(255, 165, 69);
}

.bar-top{
	border-top: 3px solid rgb(255, 165, 69);
}

.sub-box{
	height: 540px;
}
.tcolor{color: rgb(255, 128, 89) !important;}
.nav-body{width: 100%; height: 200px;}
.nav-item{background-color: rgb(255, 128, 89); color: white;}
.logo{ font-size: 25pt; font-weight: bold; margin-top: 20px;}
.nav-item-1{margin-left: 820px;}
.nav-item-size{font-size: 30pt;}
.main-body{position: absolute; top: 240px;}
.mt100{
	margin-top: 100px;
}

.mt30{
	margin-top: 30px;
}

.mt20{
	margin-top: 20px;
}

.sub{
	margin: 0px !important; height: 550px;
}

.hi40 {
	height: 40px;
}

a {
	color: black;
}

a:hover {
	border-bottom: none;
	text-decoration: none;
}